name: projeto-chamadosit

services:
    mysql:
        image: mysql:8
        container_name: chamadosit_mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: chamadosit
            MYSQL_USER: app
            MYSQL_PASSWORD: password
        ports:
            - "3306:3306"
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - laravel

    phpmyadmin:
        image: phpmyadmin:5-apache
        container_name: chamadosit_phpmyadmin
        restart: unless-stopped
        ports: 
            - "8081:80"
        environment:
            PMA_HOST: mysql
            PMA_PORT: 3306
            UPLOAD_LIMIT: 128M
        depends_on:
            - mysql
        networks:
            - laravel

volumes:
    dbdata:
        driver: local

networks:
    laravel:
        driver: bridge